*{
    margin: 20px, 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #074F57;
}

#title {
    font-family: 'Kranky', cursive;
    text-align: center; /* centra el texto respecto de la pagina*/
    color: #9ece9a;
    font-size: 40px;
}

.containerDescription {
    border: 1px solid #E4C5AF;
    padding: 3px 20px;
    width: 90%;
    margin: auto; /* Centra el div respecto a la pagina*/
    margin-bottom: 20px;
}
.description, li {
    color: #9ece9a;
    text-align: justify;
    font-size: 20px;
}
li{
    list-style:decimal;
    margin-left: 40px;
}
.italics{
    font-style: italic;
}
.containerKey, .containerBtnClean {
    width: 30%;
    margin: 0 auto; /*Centra el div respecto de la pantalla*/
    text-align: center; /*Centra los elementos dentro del div*/
    margin-bottom: 10px;
}
.labelKey{
    color: #9ece9a;
    font-size: 20px;
}
#key {
    width:50px;
    height: 25px;
    background-color: rgba(217, 217, 217, 0.26);
    font-size: 20px;
    text-align: center;
    color:#9ece9a;
}

.containerTextEncryptDecrypt {
    display: flex; /* Ordena a los elementos hijxs en eje principal por defecto (horizontal), es decir unx al lado de otrx */
    justify-content: space-around; /* Distribuye al contenido (elementos hijxs) con espacio ALREDEDOR de cada unx de ellxs */
}

.areaToEncrypt, .areaShowResult {
    background-color: #E4C5AF;
    width: 45%;
    height: 300px;
    display: flex; /* Ordena su contenido en el eje principal por defecto (horizontalmente) */
    flex-direction: column; /* Cambia direccion del eje principal, de horizontal a vertical*/
    justify-content: space-between; /* Distribuye al contenido (elementos hijxs) con espacio ENTRE ellxs*/
}
.containerTextToEncrypt {
    display: flex; 
    flex-direction: column;
    font-size: 20px;
    padding:5px;
}

.containerTextToEncrypt textarea {
    background: transparent;
    border: none;
    font-size: 15px;
}

.containerButtons {
    display: flex;
    justify-content:space-around; /*Distribuye al contenido (elementos hijxs) con espacio IGUAL entre ellxs y los márgenes (izq y der)*/
}
.btnEn-De{
    width: 180px;
    display: flex;
    justify-content: space-around;
}

.containerBtnClean{
    margin-right: 0;
}

button{
    width: 80px;
    height: 35px;
    background-color: #074F57;
    color: white;
    font-size: 15px;
}











